body {
    background: #0db8de4d;
    font-family: 'IBM Plex Sans', sans-serif;
}

h4 {
    font-size: 1rem;
}

p {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.login-box {
    margin-top: 50px;
    height: auto;
    background:  #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}
.login-head {
    margin-top: 15px;
    text-align: center;
    font-size: 15x;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #4e9af7;
    font-family: 'Fraunces', serif;
}

.login-form {
    margin-top: 10px;
    text-align: left;
}

input[type=email] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 10px;
    padding-left: 0px;
    color: #ECF0F5;
}
input[type=text] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 10px;
    padding-left: 0px;
    color: #ECF0F5;
}

input[type=password] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 10px;
    color: #ECF0F5;
}
.form-group {
    margin-bottom: 6px;
    outline: 0px;
}

.form-control{
    font-size: 11px;
}
.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
    font-size: 12px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
    color: white;
    font-size: 11px;
}

.form-control-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
}

#tnc {
    font-size: 12px;
    margin-top: 2px;
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
   
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0px;
}

.login-btm {
    float: left;
}

.login-button {
    padding-right: 0px;
    text-align: right;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

.loginbttm {
    padding: 0px;
    float: right;
}

.btn {
    font-size: 11px;
}

.sign{
    font-size: 12px;
    float: left;
    margin-top: 70px;
    color: white;
    margin-left: 10px;
}

#signup{
    font-weight: bold;
    color: #536EC6;
}

.end{
    position: center;
}

@media only screen and (max-width: 323px) {
    .sign{
      margin-top: 14px;
    }
}

#mail,#name,#pass,#cpass,#check {
    color: red;
}

